/*
   Base Element
   ========================================================================== */
html {
  margin:0; 
}

body {
  overflow-x:hidden;
  position: relative;
  margin:0;
  
  @if $enable-font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body.modal-open {
  overflow: hidden;
}

.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

*:focus {
  outline:none;
}

button:focus, input:focus, textarea:focus, select:focus {
  outline: initial;
}

