//
// Mixins
// --------------------------------------------------

// Misc mixins

// =====================================================================

// Horizontal rule mixin
@mixin hr($color: $hr-border, $margin: $line-height-base) {
  border-top-color: $color;
  margin-top: $margin;
  margin-bottom: $margin;
}

// =====================================================================

// Form element placeholder mixin
@mixin placeholder($color: $input-color-placeholder) {
  ::-webkit-input-placeholder {color: $color; }
  :-moz-placeholder { color: $color;}
  ::-moz-placeholder { color: $color;}
  :-ms-input-placeholder { color: $color;}
}


// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content

// @mixin sr-only {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   padding: 0;
//   overflow: hidden;
//   clip: rect(0,0,0,0);
//   border: 0;
// }

// =====================================================================

//
// SASS Placeholders
// --------------------------------------------------

// When you don't need an argument in your mixin, turn it into a placeholder and extend!


%vertical-column {
  @include vertical-column;
}

%list-unstyled {
  padding-left: 0;
  list-style: none;
}



// Align mixins
%center-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
%bottom-center{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,0);
}
%top-center{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
}
%left-center{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0,-50%);
}
%right-center{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0,-50%);
}
 
@keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}