//
// Typography
// --------------------------------------------------

a {
  @include transition(all 0.2s ease-out);
}

// a:not(.btn):visited {
//   color: lighten($body-color, 10%);
// }

// Typography CSS helper classes - put these into your HTML
.no-underline {
  text-decoration: none !important;
}

.text--black { color: #000; }
.text--white { color: #fff; }

// Colors
@if variable-exists(project-colors) {
  @each $color, $value in $project-colors {
    .bg--#{$color} {
      background-color: $value;
    }
    .text--#{$color} {
      color: $value;
    }
  }
}

.pre {
  white-space: pre;
}
sup {
  font-size: 60%;
}


.fa {
  vertical-align: middle;
}

a[href^="tel"]{ color:inherit; }

[class^="-icon"], [class^="icon-"] {
  &:hover, &:focus {
    text-decoration: none !important;
  }
}