//
// Responsive utilities
// --------------------------------------------------

// ** Helpful little messages to display screen size in bottom right corner of screen when developing
body.logged-in:after { 
    background: purple;
    color: $white;
    content: "iPhone5";
    opacity: .8;
    padding: .5em 1em;
    position: fixed;
    text-align: center;
    bottom: 0;
    right: 0;
    z-index: 999;
    @include min($android) {
      background: orange;
      content: "HTC & Droids";
    }
    @include min($i7) {
      background: green;
      content: "iPhone7";
    }
    @include min($kindle) {
      background: #ffff33;
      content: "Kindles, Small Tabs";
    }
    @include min($mobile-lg) {
      background: chartreuse;
      content: "mobile lg";
    }    
    @include min($mobile-xlg) {
      background: red;
      content: "Moto X, Surface";
    }
    @include min($ipad) {
      background: hotpink;
      content: "iPad";
    }
    @include min($md) {
      background: blue;
      content: "desktop-md";
    }
    @include min($lg) {
      background: purple;
      content: "desktop-lg";
    }
    @include min($xl) {
      background: coral;
      content: "desktop-xlg";
    }
    @include min($xxlg) {
      background: brown;
      content: "desktop-xxlg";
    }    
}