//
// VA Helpful Base Variables
// --------------------------------------------------

// VA Variables
$font-size-xs: 0.75rem !default;
$img-path: '../../dist/images' !default;
$main-sm-columns:       8 !default;
$sidebar-sm-columns:    4 !default;
$zindex-navbar: 1030 !default;
$navbar-height: 90px !default;
$navbar-light-active-bg: rgba(#fff,0.25) !default;
$navbar-light-dropdown-bg: rgba(#fff,0.25) !default;
$navbar-light-toggler-bg: transparent !default;
$navbar-light-toggler-icon-bg: #888 !default;
$navbar-dark-active-bg: rgba(#000,0.25) !default;
$navbar-dark-dropdown-bg: rgba(#000,0.25) !default;
$navbar-dark-toggler-bg: transparent !default;
$navbar-dark-toggler-icon-bg: #888 !default;
$container-smooth-max:  map-get($container-max-widths, xl) !default;

//$navbar-dark-toggler-icon-bg: #fff;

// ** Extra Media query variables.
$screen-tiny: 320px;
$mobile-tiny: 320px;
$android:     360px; // Android phones - HTC, Droid etc
$i7:          375px; // iPhone 7
$i5-ls:       568px;
$kindle:      600px; // Kindles, Asus, Nexus Tabs
$tablet-sm:   600px;
$mobile-lg:   640px;
$i7-ls:       667px; // iPhone7
$mobile-xlg:  720px; // also MS SUrface
$surface:     720px; // MS Surface
$motox:       720px;
$ipad:        768px;


$macbook:  1150px; // This is to handle the widths for Macbook 13" displays 
$xxlg:     1600px;
$xxxlg:    1920px;

// Shortcut for Bootstrap's screen sizes
$xs:       map-get($grid-breakpoints, xs);
$sm:       map-get($grid-breakpoints, sm);
$md:       map-get($grid-breakpoints, md);
$lg:       map-get($grid-breakpoints, lg);
$xl:       map-get($grid-breakpoints, xl);

// FeatureBuilder (old VA theme) helper variables
$tablet:  $sm;
$normal:  $md;
$wide:    $lg;


// Vertical rhythm - vertical gaps
$vgap: ($spacer / 2); // 0.5rem, 8px
$vgap2: $vgap * 2; // line height (1rem)
$vgap3: $vgap * 3; // 
$vgap4: $vgap * 4; // 
$vgap5: $vgap * 5; // 
$vgap6: $vgap * 6; // 
$vgap7: $vgap * 7; // 
$vgap8: $vgap * 8; // 
$vgap9: $vgap * 9; // 
$vgap10: $vgap * 10;

// Horizontal rhythm (...not being dirty...) - horizontal gaps
$gap: $grid-gutter-width / 2; // (15px typically)
$gap2: $gap * 2;
$gap3: $gap * 3;
$gap4: $gap * 4;
$gap5: $gap * 5;
$gap6: $gap * 6;
$gap7: $gap * 7;
$gap8: $gap * 8;
$gap9: $gap * 9;
$gap10: $gap * 10;

