// Gravity forms
.gform_heading {
  margin-bottom: 2rem;
}
.gform_fields {
  @extend .list-unstyled;

  textarea {
    height: auto;
    width:100%;
  }
}
.gform_body {
  @include make-col-ready();
}

.gform_validation_container {
  display: none;
}
 
.gfield_error .ginput_container {
  margin-bottom: 10px;
}