.navbar-nav {
 .dropdown-toggle .caret { display: none; }
 .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
  }
}



// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.

// Setup for positioning nav toggle absolute to top right
// 
.navbar-dark .navbar-toggler {
  background-color: $navbar-dark-toggler-bg;
  .icon-bar {
    background-color: $navbar-dark-toggler-icon-bg;
  }
}

.navbar-toggler {  
  cursor: pointer;
  border: none;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  z-index: $zindex-navbar + 1;
  padding: 0.7rem 0.75rem;

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: 0;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 1.2em;
    height: 2px;
    border-radius: 1px;
    transition: opacity, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  .icon-bar + .icon-bar {
    margin-top: 6px;
  }
  &:not(.collapsed) {
    .icon-bar {
      &:nth-child(1) {
        transform: translateY(0.4em) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: translateY(-0.4em) rotate(-45deg);
      }
    }
  }
  .navbar-toggler[aria-expanded="true"] {
    //top: -1rem;
  }
}