
// Type
a:not(.btn):visited {
  color: lighten($body-color, 10%);
}

// Buttons
.btn {
  padding: .3rem .5rem;
  font-size: 14px;
  background: $primary-color;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  text-transform: uppercase;
  text-decoration: none;
  &:hover{
  	background: darken($primary-color,10%);
  }
}
.btn-secondary {
  background: $secondary-color;
  &:hover{
    background: darken($secondary-color,10%);
  }
}
input[type="submit"] {
  text-transform: uppercase;
}


// Forms



// *** Responsive
// html {
//   font-size: 14px;
// }

// // @include media-breakpoint-up(sm) {
// //   html {
// //     font-size: 16px;
// //   }
// // }

// @include media-breakpoint-up(md) {
//   html {
//     font-size: 16px;
//   }
// }

// @include media-breakpoint-up(lg) {
//   html {
//     font-size: 18px;
//   }
// }


#accordion{
  // > h2, > h3{
  //   display: block;
  // }
  // > h3{
  //   margin-bottom: $spacer * 3;
  // }
  margin: $vgap4 0;
  .card{
    margin-top: $spacer;
    border: 0;
    border-radius: 0;
    background: #eee;
   // color: $primary-color;
    p{
     // color: $primary-color;
      line-height: 1.6;
    }
  }
  .card-header{ 
    padding: 0;
    border: 0;
    background: transparent;
    h3,h4,h4{
      margin: 0;
    }
  }
  $collapse-header: lighten($primary-color,50%);

  button.btn{
    display: block;
    background: $collapse-header;
    width: 100%;
    padding: $spacer 2rem $spacer $spacer;
    position: relative;
    color: $primary-color;
    white-space: unset;
    text-decoration: none;
    text-align: left;
    &:focus{
      background: darken($collapse-header,20%);
      text-decoration: none;
    }
    &:hover{
      background: darken($collapse-header,10%);
      text-decoration: none;
    }
    &:after{
        //content: " ↓ ";
        content: " ";
        background-image: url('../images/icon-down-arrow-red.svg');
        background-repeat: no-repeat;
        background-position: center center;
        //background-color: $secondary-color;
        width: 20px;
        height: 20px;
        transition: all 0.3s ease;
        font-size: 2rem;
        font-weight: 700;
        position: absolute;
        right: 0.8rem;
        top: 50%;
        transform: translate(0,-50%);
        color: $secondary-color;
      }
    &[aria-expanded="true"]{
      background: darken($collapse-header,10%);
      &:after{
        content: " " !important;
        background-image: url('../images/icon-up-arrow-red.svg');
      }
    }
  }
}
.columns-sections #accordion{
  text-align: center;
  max-width: 720px;
  margin: auto;
  > h2, > h3{
    display: block;
    color: #fff;
  }
  > h3{
    margin-bottom: $spacer * 3;
  }
  .card{
    text-align: left;

  }
  .card-header{

  }
  button.btn{
    display: block;
    background: transparent;
    color: $gray;
    font-size: 16px;
    &:after{
      color: $gray;
    }
    &[aria-expanded="true"]{
      &:after{
        content: " ↑ ";
        font-size: 22px;
      }
    }
  }
}


.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev    { left: -25%; }
.carousel-control        { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
