//
// Footer layout
// --------------------------------------------------

.above-footer{
  background: $primary-color;
  color: #fff;
  p {
    color: #fff;
  }
}

$footer-color: #fff;
 
.layout-footer {
  padding: ($spacer*3) 0;
  font-size: $font-size-sm;
  color: $footer-color;
  background: $gray;

  .footer-col{
    padding-right: $spacer * 3;
    margin-bottom: $spacer * 2;
  }
  p {
    color: #fff;
    a{
      text-decoration: underline;
    }
  }
  a{
    color: #fff;
  }
  a:visited{
    color: #fff !important;
  }
  h2{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: $spacer;
  }
  .address{
    margin-bottom: $spacer * 2;
  }
  .call{
    margin-bottom: $spacer * 2;
  }
  .icon{
    a {
      color: #fff;
      &:before{
        background: url('#{$img-path}/call-white.svg');
      }
      &:hover {
        opacity: 0.45;
      }
    }
  }
  .fb a, .houzz a{
    font-size: 0;
    padding: 2px;
    &:before{
        width: 20px;
        height: 20px;
    }
  }
  .fb a:before{
    background:  url('#{$img-path}/facebook-white.svg');
  }
  .houzz a:before{
    background: url('#{$img-path}/houzz-white.svg');
  }
  .logo a{
    @include media-breakpoint-up(md){
      position: absolute;
      bottom: 0;
      right: 0;
    }
    img{
      max-width: 120px;
    }
  }
  .menu{
    padding: 0;
    li{
      list-style: none;
      padding-bottom: 4px;
      a{
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

.layout-subfooter{
  font-size: 13px;
  font-weight: 300;
  color: $footer-color;
  background: $gray;
  border-top: 1px solid #fff;
  padding: 10px 0 15px 0;
  .sep {
    margin: 0 0.5rem;
  }
  > div{
    
  }
  a{
    color: #fff;
  }
  a:visited{
    color: #fff !important;
  }
  p{
    color: #fff;
  }
}

