
form{
	.form-group{
		width: 100%;
		max-width: 720px;
		margin: $spacer auto 0 auto;
		

	}
	.form-control{
		border-radius: 0;
	}
	input[type=search],
	input[type=search]{

	}
	input[type=submit]{
		@extend .btn;
		@extend .btn-primary;
		display: block;
	}
}

// contact form
#gform_wrapper_2{
	.gform_heading{
		margin-bottom: 1rem;
	}
	label{
		display: none;
	}
	li{
		padding: 10px;
		&:before{
			display: none;
		}
	}
	li#field_2_1{ // name
		width: 50%;
		padding-bottom: 0;
		span:first-of-type input{
			margin-bottom: 20px;
		}
		margin-bottom: 0;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	li#field_2_13{ // email
		width: 50%;
		padding-bottom: 0;
		input{
			margin-bottom: 20px;
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	li#field_2_5{
		padding-top: 0;
	}
	.gfield_description{
		background: #eee;
		//text-align: center;
		padding: 4px 10px;
		display: block;
		font-size: 0.8rem;
		font-style: italic;
		text-indent: 0;
	}
	.form-group{
		margin: 0;
	}
	input{
		width: 100%;
		border-radius: 0;
	}
	.gform_footer{
		text-align: center;
	}
	.btn {
	  font-size: 14px !important;
	  width: auto;
	  display: inline-block;
	  margin: auto;

	  	@include media-breakpoint-down(sm) {
			padding: 1rem 2rem;
			font-size: 16px !important;
		}
	  
	}
}
.featured{
	#gform_wrapper_2{
		max-width: 660px;
		margin: auto;
		.gfield_description{
			background: darken($gray,4%);
			text-align: left;
		}
		.btn {
		  font-size: 14px !important;
		  width: auto;
		  background: #fff;
		  display: inline-block;
		  color: $primary-color;
		  &:hover{
		  	background: darken(#fff,10%);
		  }
		}
	}
}

// REQUEST A CALL BACK
#gform_wrapper_4{
	max-width: 460px;
	margin: auto;
	.gform_heading{
		margin-bottom: 1rem;
	}
	form{
		text-align: center;
	}
	label{
		display: none;
	}
	li{
		padding: 10px;
	}
	li#field_4_1{ // name
		width: 50%;
	}
	li#field_4_2{ // phone
		width: 50%;
	}
	li#field_4_3{ // email
		width: 100%;
	}
	.form-group{
		margin: 0;
	}
	input{
		width: 100%;
		border-radius: 0;
	}
	.btn {
	  font-size: 14px !important;
	  width: auto;
	  background: $gray;
	  display: inline-block;
	  &:hover{
	  	background: darken($gray,10%);
	  }
	}
}