//
// Home page
// --------------------------------------------------

body.home {
	// .page-header{
	// 	//display: none;
	// }
	.main-content{
		background: $secondary-color;
		color: #fff;
		text-align: center;
		p{
			color: #fff;
		}
	}
	.col1,.col2,.col3{ // columns in maroon
		margin-top: $spacer;
		@include media-breakpoint-up(md) {
			padding: 0 1rem;
		}
		@include media-breakpoint-up(lg) {
			padding: 0 2rem;
		}
		h4 {
			&:before{
				content: "";
				background: url('#{$img-path}/friendly-icon.png');
				height: 70px;
				width: 70px;
				display: block;
				margin: $spacer auto;
				background-size: contain !important;
				background-repeat: no-repeat !important;
				transition: all 0.3s ease;
			}
		}
		&:hover {
			h4:before {
				transform: scale(1.1);
			}
		}
	}
	.col1 h4:before{
		background: url('#{$img-path}/hammer-icon.png');
	}
	.col2 h4:before{
		background: url('#{$img-path}/speed-icon.png');
	}
	// vision feat 
	.feat-img{
		background-size: cover !important;
		background-position: center !important;
		min-height: 200px;
	}
	@include media-breakpoint-up(md) {
		.feat-img{
			background-size: cover !important;
			background-position: center !important;
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
		}
		.intro{
			padding-left: $spacer * 3;
		}
	}
	.icon{
		//margin: $spacer $spacer $spacer 0;
	}
}

.home-banner{
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	position: relative;
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.4);
		display: block;
		content: "";
	}
	.banner-text{
		text-align: center;
		color: #fff !important;
		@extend %center-center;
		z-index: 2;
		font-weight: 700  !important;
		max-width: 500px;
		text-shadow: 0 0 5px rgba(0,0,0,0.3);
		h1{
			font-weight: 700;
		}
		p{
			color: #fff !important;
			font-size: 1.3rem;
			font-style: italic;
			font-weight: 700;
		}

		@include media-breakpoint-down(md){
			
		}

	}
}
.custom-banner{
	background: $primary-color;
	color: #fff;
	text-align: center;
	//padding-bottom: 100px;
	p{
		color: #fff;
	}
	.content{
		max-width: 760px;
		margin: auto;
	}
	h3{
		text-transform: none;
		font-size: 1.6rem;
	}
	&:after{
		background: url('#{$img-path}/plans.jpg') center bottom no-repeat;
		background: contain;
		display: block;
		content: "";
		height: 100px;
		opacity: 0.6
	}
	a.btn{
		background: #fff;
		color: $secondary-color;
		&:hover{
			background: darken(#fff,20%);
		}
	}
}

.anchor{
  background: #fff;
  padding: .4rem;
  position: absolute;
  //left: 0;
  margin-bottom: $spacer;
  z-index: 999;
  font-size: 20px;
  display: block;
  margin: auto;
  transition: all 0.3s ease;

  svg {
  	width: 20px;
  	fill: $secondary-color;
  }
  @extend %bottom-center;
  bottom: 1rem;

  &:hover{
  	opacity: 0.8;
    text-decoration: none;
    bottom: 0.4rem;
    svg {
    }
  }
  @include media-breakpoint-up(md){
    //width: 360px;
    //right: 50%;
  }
  @include media-breakpoint-up(lg){
    //width: 490px;
  }
  @include media-breakpoint-up(xl){
    //width: 560px;
  }
}
#anchor-link{
  margin-top: -50px;
  padding-top: 50px;
  position: relative;
  z-index: -1;
  height: 10px;
  @include media-breakpoint-up(lg){
  	margin-top: -80px;
  	padding-top: 80px;
  }
}


