//
// GLOBAL Elements and Theming
// --------------------------------------------------

body{
  font-family: $base-font;
  color: $gray;
  &.no-scroll{
  	overflow: hidden;
  }
}

// font sizing
@include media-breakpoint-down(md) {
	h1		{ font-size: 2rem; }
	h2		{ font-size: 1.3rem; }
}
// 

h2,h3,h4 {
	letter-spacing: 2px;
	text-transform: uppercase;
}
p{
	color: $gray;
	a{
		text-decoration: underline;
	}
} 
a{ 
	color: $gray;
	&:hover{ text-decoration: none; }
}
img{
	max-width: 100%;
	height: auto;
}
hr{
	margin: 0;
}

blockquote{
	padding: 0 $spacer;
	border-left: 5px solid $primary-color;
	margin: ($spacer * 2) 0;
	p{
		font-size: 1.3em;
		font-weight: 700;
		font-style: italic;
	}
	h4,h5{
		margin-bottom: 0;
		color: $primary-color;
		text-transform: uppercase;
	}
}

img{
	width: 100%;
	max-width: 100%;
}

.content, .card {
	ul{
		padding: 0;
		li{
			list-style: none;
			padding-left: 14px;
			text-indent: -16px;
			margin-bottom: 10px;
			&:before{
				content: " ";
			    width: 15px;
			    height: 15px;
			    background-image: url('../images/icon-arrow-right.png');
			    background-repeat: no-repeat;
			    background-position: left bottom;
			    background-size: 80%;
			   // background-color: $gray;
			    display: inline-block;
				font-weight: 700;
				margin: 0;
			}
		}
	}
}

// split image and text - vision on home and top intro on pages
.split{
	.feat-img{
		background-size: cover !important;
		background-position: center !important;
		min-height: 260px;
	}
	.intro{
		padding: $spacer;
		h2{
			@extend .h1;
			text-transform: none;
		}
	}
	@include media-breakpoint-up(md) {
		.feat-img{
			background-size: cover !important;
			background-position: center !important;
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
		}
		.intro{
			padding-right: $spacer * 3;
		}
	}
}

.builds{
	text-align: center;
	.entry-summary{
		padding: .5rem 0;
		overflow: hidden;
		//margin-bottom: $spacer;
		p{
			margin-top: 5px;
			text-transform: uppercase;
		}
		&:before {
			transition: all 0.3s;
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		//	background: $white;
			opacity: 0;
			background-image: url('../images/icon-plus-v2.png');
			background-size: 4rem;
    		background-repeat: no-repeat;
    		background-position: center 4rem;
    		z-index: 5;
    		mix-blend-mode: soft-light;
		}
		&:hover {
			&:before {
				opacity: 1;
			}
			img {
				transform: scale(1.05);

			}
		}
	}
}


// contact icons - header/footer/side
.icon{
	margin: 0 0.5rem;
	a {
	  color: $primary-color;
	  display: inline-block;
	  vertical-align: text-bottom;
	  font-size: .96rem;
	  transition: all 0.3s ease;
	  &:before{
	    background: url('#{$img-path}/call-blue.svg');
	    width: 18px;
	    height: 20px;
	    content: "";
	    display: inline-block;
	    background-size: contain !important;
	    background-repeat: no-repeat !important;
	    vertical-align: text-bottom;
	    margin: 0 4px;	    
	  }
	  &:hover {
	  	filter: saturate(0);
	  }
	}
}
header{
	.icon{
		@include media-breakpoint-down(md) {
			margin: 0;
			a{
				font-size: 0;
			}
		}
	}
}
footer{
	.icon{
		margin-left: 0;
	}
}

.fb a{
	font-size: 0;
	padding: 2px 0;
}
.houzz a{
	font-size: 0;
}
.fb a:before{
	background:  url('#{$img-path}/facebook-blue.svg');
}
.houzz a:before{
	background: url('#{$img-path}/houzz-blue.svg');
}


//textwidgets
.textwidget{
	.call-us{
		text-align: center;
		p{
			margin: $gap 0 .3rem 0;
			color: #fff;
			font-weight: 700;
			//text-transform: uppercase;
		}
		a:before{
	    background: url('#{$img-path}/call-white.svg');
	    width: 14px;
	    height: 16px;
	    content: "";
	    display: inline-block;
	    background-size: contain !important;
	    background-repeat: no-repeat !important;
	    vertical-align: text-bottom;
	    margin: 0 4px;
	  }
	}
}




