//
// Header layout
// --------------------------------------------------

$navbar-breakpoint: ($md - 1);
//$navbar-height: 90px ;

header {
  padding: 20px 0;
  background: #fff;
  // position: fixed;
  // width: 100%;
  // z-index: 1000;
  transition: all 0.3s;
  .col-8{
    margin-top: 7px;
    .icon{
      margin-right: 8px;
    }
    .icon.fb{
      margin-right: 15px;
    }
  }

  .row-contact {
    opacity: 1;
    transition: all 0.3s;
  }
  .row-menu {
    transition: all 0.3s;
  }
}

body.admin-bar header.fixed-top{
  margin-top: 32px;
}

.logo{
  position: relative;
  z-index: 10000;
  img{
    max-width: 128px;
    transition: all 0.3s;
    margin-top: 5px; 

  }
  @include media-breakpoint-down(md) {
    img {
      max-width: 80px;
      margin-right: $spacer;
      margin-top: 0;
    }
  }
}

// header scrolled
header.scrolled{
  border-bottom: 1px solid #eee;
  padding: 8px 0;
  transition: all 0.3s;
  .logo{
    img{
      //max-width: 80px;
      position: relative;
      z-index: 10000;
      transition: all 0.3s;
      @include media-breakpoint-up(lg) {
        max-width: 110px;
      }
    }

  }
  .row-contact {
    opacity: 0;
  }
  .row-menu {
    margin-top: -25px;
  }
  .layout-nav{
    margin-top: 0.42rem;
    transition: all 0.3s;
    li{
      padding-top: 1px;
      padding-bottom: 1px;
    }
  }
  .layout-nav.show{
    li{
      padding: 0 1px;
      padding-bottom: $spacer;
    }
  } 
}




//header scrolled placeholder stoops jump
#header-placeholder {
  display: none;
}
.not-home #header-placeholder {
  height: 60px;
  width: 100%;
  display: block;
  @include media-breakpoint-up(lg) {
    height: 118px;
  }
}

// contact link 
ul#menu-top-menu{
  display: none;
  padding: 0;
  margin: 0;
  li{
    display: inline-block;
    vertical-align: text-bottom;
    a{
      @extend .btn;
      @extend .btn-secondary;
    }
  }
  @include media-breakpoint-up(lg) {
    display: inline-block;
  }
}

// Main menu
.layout-nav {
  margin-top: .8rem;
  .navbar-nav{
    > li {
      font-size: 15px;
      padding: 4px 0;
      > a.nav-link {
        text-transform: uppercase;
        color: $gray;
        padding: 0;
        margin: 0 1rem;
        border-bottom: solid 2px #fff;
        &:hover{
          color: darken($primary-color, 10%);
          text-decoration: none;
          border-bottom: solid 2px darken($primary-color, 10%);
        }
      }
      &.active a.nav-link,
      a.nav-link.active {
        color: $secondary-color;
        text-decoration: none;
        border-bottom: solid 2px $secondary-color;
      }

    }
    @include media-breakpoint-up(lg) {
      margin: 0;
      text-align: left;  
      > li {
        border: 0;
        padding: 4px 1px;
        &.menu-articles{
          padding-right: 0;
          > a{
            padding-right: 0;
          }
        }
        &.menu-contact-us{
          display: none;
        }
        > a {
          padding: 0 12px;
        }
      }
    }
    @include media-breakpoint-up(xl) {  
      > li {
        padding: 4px 10px;
      }
    }
  }
  .dropdown-menu {
      position: absolute;
      background: #eee;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 10rem;
      padding: 1rem 0 0 0;
      margin: 0;
      font-size: .9rem;
      color: $gray;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 0;
      border-radius: 0;
  }
  .dropdown-item {
      display: block;
      width: 100%;
      padding: .5rem 1rem;
      clear: both;
      font-weight: 400;
      color: $gray;
      text-transform: uppercase;
      text-align: inherit;
      white-space: nowrap;
      background: none;
      background-color: rgba(0, 0, 0, 0);
      border: 0;
      &:hover {
        background: lighten($gray,50%);
      }
  }
  .dropdown-item.active, .dropdown-item:active {
      color: #fff;
      text-decoration: none;
      background-color: $primary-color; 
  }
}
.dropdown-toggle::after {
    display: none;
    // width: 0;
    // height: 0;
    // margin-left: .255em;
    // vertical-align: .255em;
    // content: "";
    // border-top: .3em solid;
    // border-right: .3em solid transparent;
    // border-left: .3em solid transparent;
    // border: 0;
}


.navbar-toggler {
  position: absolute;
  //right:-0.3rem;
  right: 10px;
  top: 0;
  padding: 3px 5px;
  .icon-bar{
    background: $primary-color;
    width: 1.5rem;
  }
}


// VA Fade in menu
@include media-breakpoint-down(md){
  .layout-nav {
    background: rgba(255,255,255,0.9);  
    padding-top: 70px;
    position: fixed !important;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    z-index: $zindex-navbar;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;   
    @include transition(visibility 0.2s, opacity 0.5s linear);  
    &.collapse.show {
      visibility: visible;
      opacity: 1;
      margin-left:0;
      margin-right:0;
      overflow: hidden;
    }
    ul {
      text-align: center;
      li{
        padding-bottom: $spacer;

        a {
          border: none !important;
          text-align: left;
          margin: 0 !important;
          font-weight: bold;
          font-size: 1rem;
          &.dropdown-toggle {
            display: none;
          }
        }

      }
    }
    .dropdown-menu {
      position: relative;
      display: block;
      top: 0;
      padding: 0;
      width: 100%;
      background: transparent;
      text-align: left;
      a {
        padding: 4px 0;
        font-weight: bold;
      }
    }
  }
}
// End 'VA' fade-in menu

