//
// layout
// --------------------------------------------------

.row{
	position: relative;
}

.page-wrapper{
	margin: 0; 
}

.above-content{
	position: relative;
	color: #fff;
	background: $gray;
	p{
		color: #fff;
	}
	ul li {
		&:before {
			background-color: #fff;
		}
	}
}

.relative {
  position: relative;
}

.not-home .page-wrapper{
	//margin: ($spacer * 3) 0;
}
.featured{
	background: $gray;
	color: #fff;
	#gform_wrapper_4 input.gform_button.btn{
		background: $primary-color;
		  &:hover{
		  	background: darken($primary-color,10%);
		  }
	}	
}

main{
	h1{
		margin-bottom: $spacer * 2;
	}
}
.pad-y{
	padding-top: 3rem;
	padding-bottom: 3rem;
    @include media-breakpoint-up(sm){
		padding-top: 3rem;
		padding-bottom: 3rem;
    }
  //   @include media-breakpoint-up(md){
		// padding-top: 4rem;
		// padding-bottom: 4rem;
  //   }
    @include media-breakpoint-up(lg){
		padding-top: 4rem;
		padding-bottom: 4rem;
    }

}

.pad-x{
	// padding-left: 2rem;
	// padding-right: 2rem;
    @include media-breakpoint-up(sm){
		padding-left: 2rem;
		padding-right: 2rem;
    }
    @include media-breakpoint-up(md){
		padding-left: 3rem;
		padding-right: 3rem;
    }
}
aside{
	a{
		text-decoration: none;
	}
}

.columns-sections{ // not on home
	background: $secondary-color;
}

