//
// Pages layout
// --------------------------------------------------

.left-section{
    @include media-breakpoint-up(md){
		padding-right: $spacer * 4;
    }
}
.right-section{
	
}

a.view-all{ // view all button on plans and builds
	position: absolute;
	top: 0;
	right: $spacer;
	z-index: 100;
    @include media-breakpoint-down(md){
		display: none;
    }
}

.teaser{
	position: relative;

	img {
		transition: all 0.3s;
	}
	.inner{
		overflow: hidden;
		background: $primary-color;
		position: relative;
		transition: all 0.3s;

		&:before {
			transition: all 0.3s;
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $primary-color;
			opacity: 0;
		}
	}
	a{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-indent: -999px;
		overflow: hidden;
		z-index: 9;
		
	}
	&.plans, &.gallery{
		margin-bottom: $spacer * 2;
		.details {
			position: relative;
			background: $primary-color;
			padding: 0.5em;


			h4{
				color: #fff;
				//display: inline-block;
				padding: 2px 6px;
				margin: 0;

			}
			span{
				font-size: 13px;
				color: #fff;
				margin-right: 10px;
				display: inline-block;
				width: 20%;
				&:before{
					background: url('#{$img-path}/bed-white.svg');
					width: 22px;
					height: 22px;
					background-repeat: no-repeat !important; 
					background-size: contain !important;
					background-position: bottom center  !important;
					content: "";
					display: inline-block;	
					margin: 0 4px 0 8px;
				}
				&.bathrooms:before{
					background: url('#{$img-path}/shower-white.svg');
					width: 16px;
					height: 18px;
				}
				&.car-spaces:before{
					background: url('#{$img-path}/car-white.svg');
					width: 16px;
					height: 18px;
				}

			}
			&.details-build {
				height: 3.3em;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				background: $primary-color;
				padding: 0 0.5em;

				@include media-breakpoint-down(lg){
					height: 4.5em;
				}
			}
		}
	}

	&:hover {
		.inner{
			cursor: pointer;
			//background: darken($primary-color, 10%);
			transition: all 0.3s;
			&:before {
				opacity: 0.4;
				z-index: 5;
				mix-blend-mode: multiply;
			}
			img {
				transform: scale(1.05);

			}

		}
	}

}



// process page
.page-id-3481{
	background: #eee;
	.main{
		h1{
			text-align: center;
			display: none;
		}
		h2{
			text-align: center;
			color: $secondary-color;
			margin-top: $vgap2;
		}
	}
	#accordion-process{
		margin: $vgap6 0;
	  > h3{
	    margin-bottom: $spacer * 3;
	  }
	  .card{
	    margin-top: $spacer;
	    border: 0;
	    border-radius: 0;
	    //color: $primary-color;
	    p{
	      //color: $primary-color;
	      //line-height: 1.6;
	    }
	    li{
	    	//color: $primary-color;
	    }

	  }
	  .card-header{ 
	    padding: 0;
	    border: 0;
	    h5,h4{
	    	margin: 0;
	    }
	    h5{
	    	color: $secondary-color;
	    	margin-bottom: 0.2rem;
	    }
	    h4{
	    	color: $gray;
	    	text-transform: none;
	    	font-size: 1.6rem;
	    }
		@include media-breakpoint-down(md){
		    h5{
		    	font-size: .9rem;
		    }
		    h4{
		    	font-size: 1.4rem;
		    }
	    }
	  }
	  button.btn{
	    display: block;
	    background: #fff;
	    width: 100%;
	    padding: $spacer 2rem $spacer $spacer;
	    position: relative;
	    //color: #fff;
	    text-align: left;
	    text-decoration: none;
	    &:hover{
	    	text-decoration: none;
	    	background: #f7f7f7;
	    	&:after {
	    		top: 55%;
	    	}
	    }
	    &:after{
	      //content: " ↓ ";
	      content: " ";
	      background-image: url('../images/icon-down-arrow-red.svg');
	      background-repeat: no-repeat;
	      background-position: center center;
	      //background-color: $secondary-color;
	      width: 20px;
	      height: 20px;
	      transition: all 0.3s ease;
	      font-size: 2rem;
	      font-weight: 700;
	      position: absolute;
	      right: 1.8rem;
	      top: 45%;
	      transform: translate(0,-50%);
	      color: $secondary-color;
			@include media-breakpoint-down(md){
		      font-size: 1.6rem;
		    }
	    }
	    &[aria-expanded="true"]{
	      &:after{
	        background-image: url('../images/icon-up-arrow-red.svg');
	        top: 55%;
	      }
	      &:hover {
	      	background: $white;
	      	&:after {
	      		top: 50%;
	      	}
	      }
	    }
	  }
	}

	// .process{
	// 	//width: 50%;
	// 	display: block;
	// 	//border-right: 2px solid $secondary-color;
	// 	position: relative;
	// 	@include media-breakpoint-up(lg) {
	// 		width: 50%;
	// 		h3{
	// 			background: #fff;
	// 			margin-right: $spacer * 3;
	// 			padding: 0  $spacer;
	// 			padding-left: $spacer * 4;
	// 			display: inline-block;
	// 		}
	// 		&:before{
	// 			width: 2px;
	// 			height: 100%;
	// 			background: $primary-color;
	// 			display: block;
	// 			content: "";
	// 			position: absolute;
	// 			right: -1px;
	// 			top: 10px;
	// 			z-index: 2;
	// 		}
	// 		&.odd{
	// 			margin-left: auto;
	// 			&:before{
	// 				right: auto;
	// 				left: -1px;
	// 			}
	// 			h3{
	// 				margin-left: $spacer * 3;
	// 				display: block;
	// 				padding: 0  $spacer;
	// 				margin-right: 0;
	// 			}
	// 		}
	// 		.line{
	// 			width: 100%;
	// 			height: 2px;
	// 			text-indent: -999px;
	// 			overflow: hidden;
	// 			top: 10px;
	// 			position: absolute;
	// 			background: $primary-color;
	// 			z-index: -1;
	// 			display: block;
	// 		}
	// 		.inner{
	// 			padding: 0 ($spacer * 4) ($spacer * 4) ($spacer * 4) ;
	// 		}
	// 	}
	// 	h3{
	// 		color: $secondary-color;
	// 	}
	// 	span{
	// 		width: 100%;
	// 		height: 2px;
	// 		background: $primary-color;
	// 		display: block;
	// 		position: absolute;
	// 		right: 0;
	// 		top: 10px;
	// 		z-index: -1;
	// 		font-size: 0;
	// 	}

	// 	h4{
	// 		font-size: 1.6rem;
	// 		text-transform: none;
	// 		margin-top: 0;
	// 	}
	// 	li{
	// 		color: $primary-color;

	// 	}

	// 	&.last{
	// 		margin-bottom: $spacer * 3;

	// 	}
	// 	@include media-breakpoint-down(md) {
	// 		.line{
	// 			display: none;
	// 		}
	// 	}
	// }
}

//Builds - gallery template
.gallery-template-default{
	.above-content{
		.feat-img{
			background-size: cover !important;
			min-height: 200px;
			@include media-breakpoint-up(sm) {
				min-height: 275px;
			}
			@include media-breakpoint-up(md) {
				min-height: 350px;
			}
			@include media-breakpoint-up(lg) {
				min-height: 400px;
			}			
		}
	}
	.page-header{
		margin-top: $spacer;
	}
	.entry-summary{
		position: relative;

		h3, h4, h5 {
			color: $secondary-color;
			text-transform: none;
			font-weight: bold;
		}
	}
	.ppl-portrait{
		position: absolute;
		top: -150px;
		left: 18px;
		overflow: hidden;
		border-radius: 100%;
		border: solid #fff 2px;
		width: 140px;
		height: 140px;
		z-index: 10;
	}
	.location, .date{
		img{
			width: 20px;
			display: inline-block;
			margin-right: 6px;
			vertical-align: text-bottom;
		}
		font-size: 1.1em;
		margin-right: $spacer * 2;
		color: $secondary-color;
		text-transform: uppercase;
	}
	.gallery{
		@extend .row;
		width: 100%;

		.gallery-item{
			@extend .col-4;
			@extend .col-md-6;
			margin-top: 0;
			padding-right: 0;
		}
	}


	.reference-section {
		border-top: solid 1px $primary-color;
	}



}


// plans pages - house plans
.house-plans-template-default{
	article{
		.col-md-8{
			margin-bottom: $spacer * 2;
		}
		.col-md-4{ // text area
			.features {
				
			}
			ul{
				padding-left: 20px;
				margin-bottom: $spacer * 2;
				li{
					list-style: none;
					//border-top: 1px solid #eee;
					padding: 0 0 4px 0;
					margin:  0 8px;
					&:before{
						content: " ";
						background: $primary-color url('#{$img-path}/checked.svg') no-repeat center;
						background-size: 60%;
						display: inline-block;
						height: 15px;
						width: 15px;
						border-radius: 100%;
						margin: 4px 8px -2px -7px;
					}

				}
			}
			ol{
				margin: 0;
				padding-left: 0;
				list-style: none;
				margin-left: 4px;
				li{
					list-style: none;
					border-top: 1px solid #eee;
					padding: 4px;
				}
				strong, b{
					min-width: 130px;
					display: inline-block;
				}
			}
			a{
				@extend .btn;
				@extend .btn-primary;
				margin: $spacer 0;
			}
		}
		.details{
			color: $gray;
			padding: 8px;
			text-align: right;
			span{
				padding: 0px 4px 0px 8px;
				font-size: 20px;
				&:before{
					background: url('#{$img-path}/bed-blue.svg');
					width: 30px;
					height: 18px;
					background-repeat: no-repeat !important; 
					background-size: contain !important;
					background-position: bottom center  !important;
					content: "";
					display: inline-block;	
					margin: 0 2px;
				}
				&.bathrooms:before{
					background: url('#{$img-path}/shower-blue.svg');
				}
				&.car-spaces:before{
					background: url('#{$img-path}/car-blue.svg');
				}

			}
		}
		.gallery-item{
			img{
				max-width: 300px;
			}
		}
	}

}


// posts

.post-teaser{
	border-top: 1px solid #eee;
	padding-top: $spacer * 2;
	margin-bottom: $spacer * 2;
}
.post{
	.feat-image{
		margin-bottom: $spacer;
	}
}

.single-post {

	.intro {
		h1 {
			margin: 0 0 0.5em 0;
			font-size: 2rem;
		}
		.categories {
			a {
				display: inline-block;
				color: $white;
				border: solid 1px $primary-color;
				padding: 0.2em 0.5em;
				font-size: 0.8em;
				text-transform: uppercase;
				&:hover {
					border-color: $white;
				}
			}
		}
	}
	.page-wrapper {

		.container {
			.post { 
			//	max-width: 700px; 

				@include media-breakpoint-down(sm) {
					//max-width: 80%;
				}
			}
		}

	}
}

