


// // /*------------------------------ vertical bootstrap slider----------------------------*/

// .carousel-inner> .carousel-item.carousel-item-next ,
// .carousel-inner > .carousel-item.active.carousel-item-right{ 
//     transform: translate3d(0, 100%, 0); 
//     -webkit-transform: translate3d(0, 100%, 0); 
//     -ms-transform: translate3d(0, 100%, 0); 
//     -moz-transform: translate3d(0, 100%, 0); 
//     -o-transform: translate3d(0, 100%, 0);  top: 0;
// }
// .carousel-inner > .carousel-item.carousel-item-prev ,
// .carousel-inner > .carousel-item.active.carousel-item-left{ 
//     transform: translate3d(0,-100%, 0);
//     -webkit-transform: translate3d(0,-100%, 0);
//     -moz-transform: translate3d(0,-100%, 0);
//     -ms-transform: translate3d(0,-100%, 0); 
//     -o-transform: translate3d(0,-100%, 0); top: 0;
//     transition: 0.6s ease-in-out top;
// }

// .carousel-item {
//    -webkit-transition: 0.6s ease-in-out top;
//    -moz-transition: 0.6s ease-in-out top;
//    -ms-transition: 0.6s ease-in-out top;
//    -o-transition: 0.6s ease-in-out top;
//    transition: 0.6s ease-in-out top;
// }


// // /*------------------------------- vertical carousel indicators ------------------------------*/


.carousel-indicators {
  bottom: -40px;
  li {
    display: block;
    position: relative;
    z-index: 101;
    list-style: none;
    cursor: pointer;
    width: 13px;
    height: 13px;
    border: 1px solid $secondary-color;
    margin: 4px;
    background: #fff;
    // @include media-breakpoint-up(md){
    //   width: 12px;
    //   height: 12px;
    // }
  }
}

.carousel-indicators li.active{
  //margin: -2px 0 0 -2px;
  background: $secondary-color;
}

// .carousel-indicators {
//   -webkit-transition: transform 600ms;
//   -moz-transition: transform 600ms;
//   -ms-transition: transform 600ms;
//   -o-transition: transform 600ms;
//   transition: transform 600ms;
// }


// // // /*# sourceMappingURL=vertical_carousal.css.map */

// html, body, #home-carousel {
//     height: 100%;
//     margin: 0; 
// }
#home-carousel {
  .carousel-indicators{
      position:absolute;
      //top:  0;
      bottom: 0;
      //margin: auto;
      height: $spacer;
      right: 50%; 
      left: 0;
      width: auto;

      @include media-breakpoint-down(md){
        width: 100%;
        margin: 1em 0;
        padding: 0;
      }
  }
  .carousel-item{
    // opacity: 0;
    // transition: all 2s;
     height: 100vh;
  }
  .carousel-item.active{
    // opacity: 1;
    // transition: all 2s;
    // background: tan;
  }
  .slide-img span.bg-image{
      // //display: block;
      background-size: cover !important;
      background-position: center !important;
      min-height: 400px;
      display: block;
      @include media-breakpoint-up(md){
        width: 50%;
        height: 100%;
        margin-left: auto;
        position: absolute;
        right: 0;
      }
  }

  .slide-text{
    // padding: $spacer;
    // padding-right: 50px;
   //padding: 5rem 0;
   // position: relative;

    //margin-top: 25%;
    width: 100%;
    article{
      padding: $spacer;
    }
    @include media-breakpoint-up(md){
      width: 355px;
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translate(0,-50%);
      padding-right: $spacer * 4;
    }
    @include media-breakpoint-up(lg){
      width: 460px;
    }
    @include media-breakpoint-up(xl){
      width: 565px;
    }    
    h2{
      @extend .h1;
      text-transform: none;
      margin: 0 0 2rem 0;
    }
    h3{
      color: $secondary-color;
    }
    a{
      @extend .btn;
      @extend .btn-primary;
    }

    @include media-breakpoint-down(sm){
        padding: 5rem;
    }

    @include media-breakpoint-down(xs){
        padding: 5rem 1rem;
    }
  }


  .carousel-item {

    .marker {
      position: absolute;
      z-index: 10;
      color: #fff;
      max-width: 800px;
      @include media-breakpoint-down(sm){
        display: none;
      }
      div{
        visibility: hidden;
        padding: 8px;
        background: $secondary-color;
        max-width: 300px;
        position: relative;
        top: 30px;
        transition: all 0.3s;
        opacity: 0;
      }

      &.show {
        div{
          visibility: visible;
          opacity: 1;
        }
        i {
          &:after {
            transform: scale(1.4);
            border: solid 2px;
          }
          &:before {
              display: none;
          }
        }
      } 
      h4{
        margin: 0;
        font-weight: bold;
        &:before{
          position: absolute;
          height: 40px;
          width: 2px;
          display: block;
          content: " ";
          top: -36px;
          left: 11px;
          background: $secondary-color;
        }
      }
      p{
        font-size: 0.8em;
        color: #fff;
      }
      &:hover{

      }
      i {
          position: absolute;
          top: -30px;
          //background: $secondary-color;
          border-radius: 100%;
          height: 24px;
          width: 24px;
          border: 4px double $secondary-color;
          cursor: pointer;
          &:hover {
            &:after {
              transform: scale(1.4);
              border: solid 2px;
            }
            &:before {
              display: none;
            }
          }
          &:after{
            position: absolute;
            height: 18px;
            width: 18px;
            top: -1px;
            left: -1px;
            display: block;
            content: " ";
            //z-index: 90;
            transition: all 0.3s;
            background: $secondary-color;
            border-radius: 100%;
          }
          &:before {
            content: " ";
            display: block;
            height: 30px;
            border: solid 3px $secondary-color;
            width: 30px;
            top: -7px;
            left: -7px;
            border-radius: 100%;
            position: absolute;
            animation: pulsate 1s ease-out;
            animation-iteration-count: infinite; 
            z-index: 1;
            opacity: 0;
          }
      }
    }

  &#slide-1 {
    .marker-1 {
      right: 8%;
      top: 60%;
    }
    .marker-2{
      right: 13%;
      top: 70%;
    }
  }

  &#slide-2 {
    .marker-1 {
      right: 11%;
      top: 48%;
    }
    .marker-2{
      right: 15%;
      top: 80%;
    }
  }

  &#slide-3 {
    .marker-1 {
      right: 16%;
      top: 39%;
    }
    .marker-2{
      right: 3%;
      top: 80%;
    }
  }
  }
}
#carousel-gallery{


}


