// Background gradient (soft blend of colour)
@mixin background-gradient($color1: $brand-primary, $color2: $brand-success) {
  @include linear-gradient(to right, $color1, $color2, $fallback: $color2);
}

// Background gradient (hard split 50/50)
@mixin background-split($color1:  $brand-primary, $color2: $brand-success) {
  @include linear-gradient(to right, $color1 50%, $color2 50%);
}

@mixin text-gradient($color1, $color2) {
  color: $color1;
  @supports (-webkit-background-clip: text) {
    // position: relative;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include linear-gradient(to right, $color1, $color2, $fallback: $color1);
  }
}