// =====================================================================
// Media Query Mixin

@mixin min($min: 0, $media: "screen") {
  $query: "only " + $media + " and (min-width: " + ($min) + ")";
  @media #{$query} {
    @content;
  };
}


@mixin max($max: 3000, $media: "screen") {
  $query: "only " + $media + " and (max-width: " + ($max - 1) + ")";
  @media #{$query} {
      @content;
  };
}

@mixin minmax($min: null, $max: null, $media: "screen") {
  $query: "only " + $media;

  @if $min != null and $max != null {
      $query: "only " + $media + " and (min-width: " + $min + ") and (max-width: " + ($max - 1) + ")";
  } @else if $min == null and $max != null {
      $query: "only " + $media + " and (max-width: " + ($max - 1) + ")";
  } @else if $min != null and $max == null {
      $query: "only " + $media + " and (min-width: " + $min + ")";
  }

  @media #{$query} {
      @content;
  };
}

@mixin container-smooth($mw: $container-smooth-max) {
  @include make-container();
  max-width: $mw;
} 

// @mixin container-smooth($max-widths: $container-max-widths) {
//   @include make-container();
//   max-width: $max-widths(lg);
// }

.container-smooth {
  @include container-smooth;
}
