// Mixin for creating links with colors for different states
@mixin link-colors($link, $hover: null, $active: null, $visit: null, $important: null) {

  @if ($hover == null) {
    $hover: $link;
  }
  @if ($active == null) {
    $active: $link;
  }
  @if ($visit == null) {
    $visit: $link;
  }

  color: $link;
  &:visited {
    color: $visit;
  }
  &:hover {
    color: $hover;   
  }
  &:visited:hover {
    color: $hover;   
  }
  &:active {
    color: $active;
  }

  @if($important != null) {
    color: $link !important;
    &:visited {
      color: $visit !important;
    }
    &:hover {
      color: $hover !important;  
    }
    &:visited:hover {
      color: $hover !important;;  
    }
    &:active {
      color: $active !important;
    }
  }

}

@mixin link-color($link, $hover: null, $active: null, $visit: null, $important: null) {
  @include link-colors($link, $hover, $active, $visit, $important);
}
// =====================================================================

// Vertical align text (flip 90 degrees)
@mixin vertical-column {
  margin-bottom: 0;
  transform: rotate(90deg) translate(100%,100%);
  transform-origin: 100% 100%;
}

// =====================================================================

// Hyphenated (dashed) list
@mixin list-dashed() {
  list-style: none;
  padding-left: 0;

  & > li {
    margin-left:20px;      
    margin-bottom: 0.5em;
    line-height: $line-height-lg;
  }

  // Prevent nested li's from getting messed up
  & > li:before {
    content: "\2013";
    margin-left: -20px;
    position: absolute;
  }

}

