//
// Project Variables
// --------------------------------------------------

// Place project-specific variables, colours and fonts in here : )
$font-path: '../../dist/fonts';
$img-path: '../../dist/images';

// **** Fonts
@import url(//fonts.googleapis.com/css?family=Lato:400,700);

$base-font: "Lato", Helvetica, Arial, sans-serif;
$custom-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// *** Project Colours
$gray: #43515d;


// Primary & Secondary Colours
// Make $brand-primary the same as $primary-color in _default-variables.scss

$primary-color:       #50719a; // blue
$secondary-color:     #702e34; // maroon

// Primary & Secondary Colours
// Make $brand-primary the same as $primary-color in _default-variables.scss

$primary-color-light: lighten($primary-color, 10%);

$secondary-color-light: lighten($secondary-color, 10%);
$primary-font: $base-font; 
 
$project-colors: (
  'pc': $primary-color,
  'sc': $secondary-color
);

// *** Project Variables extending Bootstrap
$container-smooth-max: 1300px;
$navbar-light-toggler-bg: transparent;
$navbar-light-toggler-icon-bg: $secondary-color;
$enable-font-smoothing: true; // set to false if you want to turn font smoothing off
